{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": ["test/**"]
    }]
  }
}
